.header {
    .search {
        flex: 0;
        width: 400px;
        input {
            width: 200px;
            box-sizing: border-box;
            &:focus {
                width: 400px;
            }
        }
    }
    .search + div{
        justify-content: end;
    }
    .user_menu {
        svg{
            color: core.$second-color;
            font-size: 50px;
        }
        &:hover {
            span,
            path {
                color: core.$first-color;
            }
        }
    }
}
