.header {
    .search {
        input {
            width: 400px;
            &:focus {
                width: 500px;
            }
        }
    }
    .search + div {
        justify-content: end;
    }
    .user_menu {
        svg {
            color: core.$second-color;
            font-size: 50px;
        }
        &:hover {
            span,
            path {
                color: core.$first-color;
            }
        }
    }
}
