.header {
    .search {
        width: 50%;
        input {
            width: 70%;
            &:focus {
                width: 100%;
            }
        }
    }
    .search + div {
        justify-content: end;
    }
    .user_menu {
        svg {
            color: core.$second-color;
            font-size: 4em;
        }
        &:hover {
            span,
            path {
                color: core.$first-color;
            }
        }
    }
}
