.header {
    .search {
        flex: 1 0 100%;
        input {
            width: 100%;
            box-sizing: border-box;
        }
    }
    .search + div{
        justify-content: center;
    }
}
