.rules{
    margin: 10px 20px;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    > div{
        cursor: pointer;
        width: calc(100% - 20px);
        margin: 10px 10px;
        text-align: center;
        .logo{
            height: 180px;
            color: core.$second-color;
            .no_image{
                font-size: 180px;
            }
        }
        .name{
            margin-bottom: 10px;
        }
    }
}