.rules{
    margin: 10px 20px;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    > div{
        cursor: pointer;
        border: 1px solid core.$third-color;
        width: calc(25% - 22px);
        margin: 10px 10px;
        text-align: center;
        .logo{
            height: 180px;
            color: core.$second-color;
            .no_image{
                font-size: 180px;
            }
        }
        .name{
            margin-bottom: 10px;
        }
        &:hover{
            opacity: 0.5;
            width: calc(25% - 22px);
            border: 1px solid;
            border-radius: 5px;
        }
    }
}