.new_rule{
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    .game_name{
        flex: 0;
        margin: 10px 0;
        text-align: center;
        label{
            margin-right: 5px;
        }
    }
    .container{
        flex: 1;
    }
}