@use "../../../../core";
.column {
    justify-content: center;
    margin-top: 15px;
    margin-right: 2%;
    border: 1px solid core.$border;
    background-color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    flex: 1;
}
.remove {
    flex: 0;
    margin-top: 15px;
    position: relative;
    > div {
        position: absolute;
        top: 0;
    }
}
.dialog_enter {
    opacity: 0;
    transform: scale(0.9);
}
.dialog_enter_active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.dialog_exit {
    opacity: 1;
}
.dialog_exit_active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

@media screen and (max-width: 600px) {
    @import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
    @import "./_resolution/display";
}
