@use "../../core";
.registration {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../../../img/login-background.jpg");
	&::after {
		content: "";
		background: rgba(0, 0, 0, 0.2);
		height: 100vh;
		width: 100vw;
		position: fixed;
	}
	.wrapper {
		z-index: 1;
		-webkit-box-shadow: 0px 0px 20px 0px core.$shadow;
		-moz-box-shadow: 0px 0px 20px 0px core.$shadow;
		box-shadow: 0px 0px 20px 0px core.$shadow;
		background-color: core.$fourth-color;
		border: 0.1em solid core.$border;
		border-radius: 0.3em;
		padding: 3% 5%;
		text-align: center;
		position: relative;
		.header {
			font-size: 2em;
			margin-bottom: 0.5em;
		}
		.email,
		.username,
		.password,
		.confirm {
			label {
				display: flex;
				flex-direction: column;
				position: relative;
				margin-bottom: 0.5em;
				> input {
					margin-bottom: 0.5em;
				}
				> span {
					position: absolute;
					top: 0.5em;
					left: 0.5em;
					padding: 0 0.3em;
					color: core.$placeholder;
					transition: transform 0.1s;
					transform: translateY(0px);
					background: core.$fourth-color;
				}
			}
			.raise {
				transform: translateY(-1em);
			}
			input:focus + span {
				color: core.$first-color;
				transform: translateY(-1em);
			}
		}
		.registration_btn {
			margin-bottom: 1em;
		}
		.message {
			transition: all 0.1s;
			color: core.$danger;
			margin-bottom: 1em;
		}
	}
}
@media screen and (max-width: 600px) {
	@import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
	@import "./_resolution/display";
}
