@use "../../core";
.registration {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .wrapper {
        background-color: core.$fourth-color;
        border: 0.1em solid core.$border;
        border-radius: 0.3em;
        padding: 3% 5%;
        text-align: center;
        position: relative;
        .header {
            font-size: 2em;
            margin-bottom: 0.5em;
        }
        .email,
        .password,
        .confirm {
            label {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 0.5em;
                > input {
                    margin-bottom: 0.5em;
                }
                > span {
                    position: absolute;
                    top: 0.5em;
                    left: 0.5em;
                    padding: 0 0.3em;
                    color: core.$placeholder;
                    transition: transform 0.1s;
                    transform: translateY(0px);
                    background: core.$fourth-color;
                }
            }
        }
        .email,
        .password,
        .confirm {
            .raise {
                transform: translateY(-1em);
            }
        }
        .registration_btn {
            margin-bottom: 1em;
        }
        .message {
            transition: all 0.1s;
            color: core.$danger;
            margin-bottom: 1em;
        }
    }
}
@media screen and (max-width: 600px) {
    @import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
    @import "./_resolution/display";
}
