.registration {
    .wrapper {
        width: 30%;
        height: 50%;
        .email,
        .password,
        .confirm {
            input:focus + span {
                color: core.$first-color;
                transform: translateY(-1em);
            }
        }
    }
}
