.dialog {
    width: 90vw;
    left: 5vw;
    top: 5vh;
    height: 90vh;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .header {
        .close {
            &:hover {
                background-color: core.$second-color;
            }
            &:active {
                opacity: 0.9;
            }
        }
    }
}
