.dialog {
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	.header {
		.close {
			&:hover {
				background-color: core.$second-color;
			}
			&:active {
				opacity: 0.9;
			}
		}
	}
}
.dialog_90 {
	width: 90vw;
	height: 90vh;
}
.dialog_50 {
	width: 50vw;
	height: 50vh;
}
.dialog_auto {
	width: 50vw;
}
