/*height 113px, width 100% */
@media screen and (device-width: 320px) {
    .search{
        width: 150px;
        input{
            width: inherit;
        }
    }
}
.wrapper{
    flex: 0 0 auto;
    .header{
        background: core.$panel-color;
        box-shadow: 0 2px 2px -2px core.$shadow;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        margin: 0 20px 20px;
        .user_menu{
            flex: 1 0;
            > div{
                display: flex;
                display: -webkit-flex;
                justify-content: right;
                .login{
                    text-align: center;
                    color:#0a0a0a;
                    text-decoration: none;
                    cursor: pointer;
                    display: inline-block;
                }
            }
        }
    }
}