@use "../core";
.content {
    flex: 1 0;
    background: core.$third-color;
    border: 1px solid core.$border;
    border-radius: 3px;
    margin: 0 20px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    .header {
        margin: 16px 10px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: calc(50% - 6px);
            left: 0;
            right: 0;
            height: 12px;
            background: core.$first-color;
            width: 92%;
        }
        > span {
            background: core.$third-color;
            position: relative;
            padding: 0 15px;
            margin: 0 20px;
            display: inline-block;
        }
        > svg {
            color: core.$first-color;
            position: absolute;
            right: 3%;
            top: -60%;
            font-size: 40px;
            background-color: core.$third-color;
        }
    }
    > div {
        margin: 20px;
    }
}
@media screen and (max-width: 600px) {
    @import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
    @import "./_resolution/display";
}
