@use "../../core";
.paginate {
    margin-top: 15px;
    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0;
        flex-wrap: wrap;
        .paginate_item {
            cursor: pointer;
            display: inline-block;
            margin: 2px;
            text-decoration: none;
            transition: background-color 0.3s;
            border: 1px solid core.$border;
            &:hover {
                background-color: core.$first-color;
                color: core.$third-color;
            }
            .paginate_link {
                padding: 8px 16px;
                display: inline-block;
            }
        }
        .active {
            background-color: core.$second-color;
            color: core.$third-color;
            border: 1px solid core.$second-color;
            &:hover {
                background-color: core.$second-color;
                opacity: 0.9;
            }
        }
    }
}
