@use "../../core";
.wrapper_wysiwyg {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    .editor_wysiwyg {
        display: flex;
        flex-direction: column;
        border: 0.1em solid core.$border;
        padding: 1em;
        .DraftEditor-root {
            .public-DraftStyleDefault-block {
                margin: 0;
            }
        }
    }
    .toolbar_wysiwyg {
        .rdw-text-align-wrapper {
            page-break-after: always;
        }
        //text
        .rdw-dropdown-selectedtext {
            > span {
                white-space: normal;
                overflow: hidden;
                width: 75%;
            }
        }
        // btn
        .rdw-image-modal-btn,
        .rdw-embedded-modal-btn,
        .rdw-link-modal-btn {
            padding: 1em;
            border: 0.1em solid core.$border !important;
            font-weight: 400;
            border-radius: 0.25em;
            background-color: core.$first-color !important;
            color: core.$third-color;
            outline: none;
            width: auto;
            height: auto;
        }
        .rdw-image-modal-btn:hover,
        .rdw-embedded-modal-btn:hover,
        .rdw-link-modal-btn:hover {
            opacity: 0.9;
        }
        .rdw-image-modal-btn:active,
        .rdw-embedded-modal-btn:active,
        .rdw-link-modal-btn:active {
            background-color: core.$third-color !important;
            color: core.$first-color !important;
            opacity: 1;
        }
        .rdw-image-modal-btn:focus,
        .rdw-embedded-modal-btn:focus,
        .rdw-link-modal-btn:focus {
            outline: 0.1em solid core.$second-color !important;
        }
        // heder-active
        .rdw-colorpicker-modal-style-label-active,
        .rdw-image-modal-header-label-highlighted,
        .rdw-embedded-modal-header-label {
            border-bottom: 0.2em solid core.$first-color;
        }
        // modal
        .rdw-link-modal,
        .rdw-image-modal,
        .rdw-embedded-modal,
        .rdw-emoji-modal,
        .rdw-colorpicker-modal {
            box-shadow: none;
            z-index: 92;
            display: flex;
        }
        .rdw-link-modal,
        .rdw-image-modal,
        .rdw-embedded-modal {
            height: auto;
            input {
                display: inline-block;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                border: 0.1em solid core.$border;
                padding: 0.5em;
                border-radius: 0.25em;
                background-color: core.$fourth-color;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                outline: none;
                height: auto;
            }
            button {
                padding: 0.5em;
            }
            > span {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .rdw-image-modal,
        .rdw-embedded-modal {
            > span {
                display: flex;
                justify-content: center;
            }
        }
        .rdw-embedded-modal {
            > span {
                display: flex;
                justify-content: start;
            }
        }
        //iframe
        .rdw-embedded-modal {
            justify-content: start;
            .rdw-embedded-modal-header-option {
                width: auto;
            }
            .rdw-embedded-modal-size {
                justify-content: start;
            }
            > span {
                flex: 1;
                display: flex;
                align-items: flex-end;
            }
        }
        //image
        .rdw-image-modal {
            .rdw-image-modal-size {
                justify-content: start;
            }
            .rdw-image-modal-header + div {
                flex: 1;
                display: flex;
                > div {
                    flex: 1;
                }
            }
            .rdw-image-modal-header + .rdw-image-modal-url-section {
                flex: 0;
            }
            .rdw-image-modal-header
                + .rdw-image-modal-url-section
                + .rdw-image-modal-size
                + span {
                flex: 1;
                display: flex;
                align-items: flex-end;
            }
        }
        //link
        .rdw-link-modal {
            > span {
                flex: 1;
                display: flex;
                align-items: flex-end;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    @import "./_resolution/mobile";
}
@media screen and (min-width: 481px) {
    @import "./_resolution/display";
}
