@use "../../../core";
.chapter {
    display: flex;
    flex-direction: column;
    flex: 1;
    .container {
        flex: 1;
        border: 0.1em solid core.$border;
        padding-top: 2em;
        margin-top: 2em;
        background-color: core.$fourth-color;
    }
    .chapter_navigation {
        text-align: center;
    }
    .noData {
        margin-top: 1em;
        border: 0.1em solid core.$border;
        background-color: core.$fourth-color;
        padding: 2em;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    @import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
    @import "./_resolution/display";
}
