@use "../../../core";
.chapter {
    .settings {
        margin-bottom: 15px;
        justify-content: center;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        > input + button {
            margin-left: 5px;
            margin-right: 5px;
        }
        > * {
            margin-bottom: 5px;
        }
    }
    .container {
        padding-top: 15px;
        border-top: 1px solid core.$border;
    }
}
@media screen and (max-width: 600px) {
    @import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
    @import "./_resolution/display";
}
