@media screen and (device-height: 720px) {
    .container{
        height: 360px; /*360 - все блоки кроме container*/
    }
}
@media screen and (device-height: 1080px) {
    .container{
        height: 720px;
    }
}
.container{
    flex: 1 0;
    background: core.$panel-color;
    box-shadow: 0 0 2px core.$shadow;
    margin-right: 20px;
    overflow-y: auto;
    .header{
        margin-top: 10px;
        font-size: 28px;
        text-align: center;
    }
}