.min_navbar,
.navbar {
    margin-right: 1rem;
    width: calc(100% - 2rem);
    ul {
        width: 100%;
    }
    .toggle {
        display: none;
    }
}

.navbar {
    ul {
        .active {
            a {
                color: core.$first-color;
                &::after {
                    background: core.$first-color;
                    transform: scaleX(1);
                }
            }
        }
    }
}
.min_navbar {
    ul {
        li {
            margin-bottom: 1rem;
            a {
                display: flex;
                width: 100%;
                align-items: center;
                text-decoration: none;
                &::after {
                    content: attr(data-localization);
                    font-size: 0.5em;
                    margin-left: 1rem;
                    color: core.$second-color;
                }
            }
        }
        .active {
            a {
                &::after {
                    color: core.$first-color;
                }
            }
        }
    }
}
