.navbar {
    width: 100%;
    ul {
        width: 100%;
        li {
            margin-bottom: 1rem;
            a {
                display: flex;
                width: 100%;
                align-items: center;
                text-decoration: none;
                &::after {
                    content: attr(data-localization);
                    margin-left: 1rem;
                    color: core.$second-color;
                }
            }
        }
        .active {
            a {
                &::after {
                    color: core.$first-color;
                }
            }
        }
    }
}
