.min_navbar,
.navbar {
    margin: 0 20px 20px;
    width: calc(100% - 42px);
    .toggle {
        display: none;
    }
}

.navbar {
    ul {
        .active {
            a {
                color: core.$first-color;
                &::after {
                    background: core.$first-color;
                    transform: scaleX(1);
                }
            }
        }
    }
}
.min_navbar {
    ul {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        li {
            margin-bottom: 15px;
            a {
                display: flex;
                width: 100%;
                align-items: center;
                text-decoration: none;
                &::after {
                    content: attr(data-localization);
                    font-size: 4vw;
                    margin-left: 12px;
                    color: core.$second-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                }
            }
        }
        .active {
            a {
                &::after {
                    color: core.$first-color;
                }
                path {
                    color: core.$first-color;
                }
            }
        }
    }
}
