@use "../../../../core";
.settings {
	margin: 0 1em;
	.sheet,
	.chapter {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	label {
		display: flex;
		position: relative;
		margin-bottom: 1em;
		> span {
			position: absolute;
			top: 0.5em;
			left: 0.5em;
			padding: 0 0.3em;
			color: core.$placeholder;
			transition: transform 0.1s;
			transform: translateY(0px);
			background: core.$fourth-color;
		}
		input:focus + span {
			color: core.$first-color;
			transform: translateY(-1em);
		}
	}
	button {
		margin-bottom: 1em;
	}
	.raise {
		transform: translateY(-1em);
	}
}

@media screen and (max-width: 600px) {
	@import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
	@import "./_resolution/display";
}
