
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999999;
    top: 0;
    left: 0;

    .dice{
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 30px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: -webkit-transform 0.5s 0.1s;
        transition: transform 0.5s 0.1s;
        perspective: 9999px;
        color: #3e3e3e;
        margin: -40px 0 0 -40px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        margin-left: -37px;
        top: 65px;
        opacity: 1;

        .face{
            width: inherit;
            height: inherit;
            position: absolute;
            background: white;
            box-shadow: inset 0 0 0 1px #3e3e3e, 0 0 1px 1px #3e3e3e;
            opacity: 1;
            font-family: Arial, Helvetica, sans-serif;

            .point::after{
                content: "\26AB";
            }
            .left_top{
                position: absolute;
                left: 2px;
                top: -28px;
            }
            .left_bottom{
                position: absolute;
                left: 2px;
                bottom: -26px;
            }
            .left_center{
                position: absolute;
                left: 2px;
                top: -1px;
            }
            .right_top{
                position: absolute;
                right: 2px;
                top: -28px;
            }
            .right_bottom{
                position: absolute;
                right: 2px;
                bottom: -26px;
            }
            .right_center{
                position: absolute;
                right: 2px;
                top: -1px;
            }
        }
        .front{
            transform: translate3d(0, 0, 40px);
            -webkit-transform: translate3d(0, 0, 40px);
            font-size: 30px;
        }
        .back{
            -webkit-transform: rotateY(180deg) translate3d(0, 0, 40px);
            transform: rotateY(180deg) translate3d(0, 0, 40px);
        }
        .left{
            -webkit-transform: rotateY(-90deg) translate3d(0, 0, 40px);
            transform: rotateY(-90deg) translate3d(0, 0, 40px);
        }
        .right{
            -webkit-transform: rotateY(90deg) translate3d(0, 0, 40px);
            transform: rotateY(90deg) translate3d(0, 0, 40px);
        }
        .top{
            -webkit-transform: rotateX(90deg) translate3d(0, 0, 40px);
            transform: rotateX(90deg) translate3d(0, 0, 40px);
        }
        .bottom{
            -webkit-transform: rotateX(-90deg) translate3d(0, 0, 40px);
            transform: rotateX(-90deg) translate3d(0, 0, 40px);
        }
    }

    .dice.panel_load{
        z-index: 11;
        top: 45%;
        margin-top: -60px;
        -webkit-animation: panel 3.5s infinite forwards;
        animation: panel 3.5s infinite forwards;

        .face{
            color: black;
            box-shadow: inset 0 0 0 1px #222, 0 0 1px 1px #222;
        }
        @-webkit-keyframes panel {
            0% {
                -webkit-transform: rotateY(0deg) rotateZ(0deg);
            }
            20% {
                -webkit-transform: rotateY(90deg) rotateZ(0deg);
            }
            40% {
                -webkit-transform: rotateX(45deg) rotateZ(45deg);
            }
            60% {
                -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
            }
            80% {
                -webkit-transform: rotateX(310deg) rotateZ(230deg);
            }
            100% {
                -webkit-transform: rotateX(360deg) rotateZ(360deg);
            }
        }
        
        @keyframes panel {
            0% {
                -webkit-transform: rotateY(0deg) rotateZ(0deg);
                transform: rotateY(0deg) rotateZ(0deg);
            }
            20% {
                -webkit-transform: rotateY(90deg) rotateZ(0deg);
                transform: rotateY(90deg) rotateZ(0deg);
            }
            40% {
                -webkit-transform: rotateX(45deg) rotateZ(45deg);
                transform: rotateX(45deg) rotateZ(45deg);
            }
            60% {
                -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
                transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
            }
            80% {
                -webkit-transform: rotateX(310deg) rotateZ(230deg);
                transform: rotateX(310deg) rotateZ(230deg);
            }
            100% {
                -webkit-transform: rotateX(360deg) rotateZ(360deg);
                transform: rotateX(360deg) rotateZ(360deg);
            }
        }
    }
    .text{
        position: absolute;
        font-weight: normal;
        top: 52%;
        font-size: 20px;
        letter-spacing: 15px;
        margin-top: 40px;
        color: #212121;
        width: 100%;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .ball{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: inline-block;
            float: none;
            background-color: currentColor;
            border: 0 solid currentColor;
            width: 10px;
            height: 10px;
            margin: 4px;
            border-radius: 100%;
            -webkit-animation: ball-pulse 1s ease infinite;
            -moz-animation: ball-pulse 1s ease infinite;
            -o-animation: ball-pulse 1s ease infinite;
            animation: ball-pulse 1s ease infinite;

            @-webkit-keyframes ball-pulse {
                0%,
                60%,
                100% {
                    opacity: 1;
                    -webkit-transform: scale(1);
                            transform: scale(1);
                }
                30% {
                    opacity: .1;
                    -webkit-transform: scale(.01);
                            transform: scale(.01);
                }
            }
            @-moz-keyframes ball-pulse {
                0%,
                60%,
                100% {
                    opacity: 1;
                    -moz-transform: scale(1);
                            transform: scale(1);
                }
                30% {
                    opacity: .1;
                    -moz-transform: scale(.01);
                            transform: scale(.01);
                }
            }
            @-o-keyframes ball-pulse {
                0%,
                60%,
                100% {
                    opacity: 1;
                    -o-transform: scale(1);
                        transform: scale(1);
                }
                30% {
                    opacity: .1;
                    -o-transform: scale(.01);
                        transform: scale(.01);
                }
            }
            @keyframes ball-pulse {
                0%,
                60%,
                100% {
                    opacity: 1;
                    -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                            -o-transform: scale(1);
                            transform: scale(1);
                }
                30% {
                    opacity: .1;
                    -webkit-transform: scale(.01);
                        -moz-transform: scale(.01);
                            -o-transform: scale(.01);
                            transform: scale(.01);
                }
            }
        }
        .one {
            -webkit-animation-delay: -200ms;
            -moz-animation-delay: -200ms;
                -o-animation-delay: -200ms;
                    animation-delay: -200ms;
        }
        .two {
            -webkit-animation-delay: -100ms;
            -moz-animation-delay: -100ms;
                -o-animation-delay: -100ms;
                    animation-delay: -100ms;
        }
        .three {
            -webkit-animation-delay: 0ms;
            -moz-animation-delay: 0ms;
                -o-animation-delay: 0ms;
                    animation-delay: 0ms;
        }
    }
}