@use 'core';

.header{
    border-bottom: 1px solid core.$panel-border;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    .search{
        padding: 0 10px;
        input{
            width: 100%;
            box-sizing: border-box;
        }
    }
    .user_menu{
        flex: 1 0;
        text-align: right;
        .login{
            cursor: pointer;
            &:hover{
                opacity:0.5;
            }
        }
    }
}