@use 'core';
.header {
    background: core.$third-color;
    border-bottom: 1px solid core.$border;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 20px 20px;
    .search + div{
        flex: 1;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
    }
    .language {
        margin-right: 20px;
    }
    .user_menu {
        .login {
            text-align: center;
            color: core.$second-color;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            span {
                display: inline-block;
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            svg{
                color: core.$second-color;
                font-size: 50px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    @import './screen/header/mobile';
}
@media screen and (min-width: 601px) {
    @import './screen/header/display';
}