.container {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex: 0 0 auto;
    text-align: center;
    > input {
        width: 70px;
        margin-right: 5px;
    }
    .row {
        margin: 15px 15px 5px;
        border: 1px solid #24292f;
        min-height: 48px;
    }
    .settings_btn {
        display: inline-block;
        padding-top: 10px;
        margin: 0 15px;
        .icon {
            cursor: pointer;
            color: #24292f;
            font-size: 25px;
            z-index: 1;
            &:hover {
                color: #0969da;
            }
        }
    }
    .settings {
        background-color: #fff;
        margin-top: 2px;
        // padding: 10px;
        > input {
            margin: 0 8px;
        }
        .remove {
            text-align: center;
            margin-top: 10px;
        }
    }
    .enter {
        opacity: 0;
    }

    .enterActive {
        opacity: 1;
        transition: opacity 1200ms ease-in-out;
    }

    .exit {
        opacity: 1;
    }

    .exitActive {
        opacity: 0;
        transition: opacity 1200ms ease-in-out;
    }
}
