@use 'core';
.container {
    text-align: center;
    > div:first-child {
        box-shadow: 0px 1px 0px 0px rgba(36, 41, 47, 0.3);
        padding-bottom: 15px;
        > input {
            width: 70px;
            margin-right: 5px;
        }
    }
    .row {
        margin: 15px 15px 5px;
        border-bottom: 1px solid rgba(36, 41, 47, 0.3);
        min-height: 48px;
        > div:first-child {
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            > div {
                height: 100px;
                border: 1px solid rgba(36, 41, 47, 0.3);
                margin-right: 15px;
                flex: 2 0 auto;
            }
            > div:last-child {
                flex: 0 0 auto;
                height: auto;
                border: 0px;
                margin-right: 0;
            }
        }
        .settings {
            background-color: #fff;
            margin-top: 2px;
            > input {
                margin: 0 8px;
            }
            .remove {
                text-align: center;
                margin-top: 10px;
            }
            .column {
                margin-top: 5px;
                span:first-child {
                    border-color: core.$first-color;
                }
                span {
                    border: 1px solid black;
                    margin: 0 2px;
                    height: 15px;
                    width: 15px;
                    display: inline-block;
                    cursor: pointer;
                    &:hover {
                        border-color: core.$first-color;
                    }
                }
            }
        }
    }
}
