@use 'core';
.rules{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    > div{
        margin: 10px 10px;
        text-align: center;
        .logo{
            color: core.$second-color;
        }
        .name{
            margin-bottom: 10px;
        }
    }
}
@media screen and (min-width: 601px) {
    @import './screen/rules/display';
}
@media screen and (max-width:600px) {
    @import './screen/rules/mobile';
}