.file {
    input[type="file"] + span:hover {
        color: core.$first-color;
        border-color: core.$first-color;
    }
    input[type="file"]:disabled + span:hover {
        opacity: 0.6;
        color: core.$second-color;
        border-color: core.$border;
    }
}
