@use "../../../core";
.container {
    > div:first-child {
        text-align: center;
        > input {
            width: 70px;
            margin-right: 5px;
        }
        > button {
            margin-top: 5px;
        }
    }
    .row {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid core.$border;
        min-height: 48px;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        > div {
            box-sizing: border-box;
            display: flex;
            align-items: center;
        }
    }
    .row_enter {
        opacity: 0;
    }
    .row_enter_active {
        opacity: 1;
        transition: opacity 200ms ease-in;
    }
    .row_exit {
        opacity: 1;
    }
    .row_exit_active {
        opacity: 0;
        transition: opacity 200ms ease-in;
    }
}
@media screen and (max-width: 600px) {
    @import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
    @import "./_resolution/display";
}
