@use "../core";
.login {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .wrapper {
        width: 60%;
        border: 1px solid core.$border;
        border-radius: 5px;
        padding: 2% 10%;
        text-align: center;
        position: relative;
        .back {
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            background: core.$second-color;
            left: -20px;
            top: 30px;
            padding: 7px;
            > span {
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    font-size: 25px;
                    color: core.$third-color;
                }
            }
            &:hover {
                background: core.$first-color;
            }
        }
        .email,
        .password {
            label {
                display: flex;
                flex-direction: column;
                > input {
                    margin-bottom: 15px;
                }
            }
        }
        .logo {
            svg {
                font-size: 80px;
                color: core.$second-color;
                // &:hover{
                //     cursor: pointer;
                // }
                // &:hover > path{
                //     color: core.$first-color;
                // }
                // path{
                //     scale: 1.23;
                //     transform: translate(-47px, -47px);
                // }
            }
        }
        .forgot_password {
            margin-bottom: 5px;
            a {
                text-decoration: none;
                color: core.$second-color;
                &:hover {
                    color: core.$first-color;
                }
            }
        }
        .action {
            > button {
                margin-bottom: 10px;
            }
        }
        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .google,
            .yandex {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-bottom: 10px;
                border: 1px solid core.$border;
                border-radius: 5px 0 0 5px;
                width: 100%;
                background-color: core.$fourth-color;
                > div:first-child {
                    width: 20%;
                }
                > div:last-child {
                    padding: 15px 10px;
                    border-left: 1px solid core.$border;
                }
            }
            svg {
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    @import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
    @import "./_resolution/display";
}
