@use "../../core";

.file {
    display: flex;
    text-align: center;

    input[type="file"] {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    input[type="file"] + span {
        color: core.$placeholder;
        border: 0.1em solid core.$border;
        padding: 0.55em;
        border-radius: 0.25em;
        flex: 1;
        cursor: pointer;
    }
    input[type="file"]:disabled + span {
        opacity: 0.6;
        border-color: core.$border;
        color: core.$second-color;
        cursor: default;
    }
}
@media screen and (max-width: 600px) {
    @import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
    @import "./_resolution/display";
}
