.navbar {
    background: core.$panel-color;
    position: relative;
    box-shadow: 0 0 2px core.$shadow;
    padding: 10px;
    margin: 0 20px;
    width: 100%;
    .toggle {
        display: none;
    }
    ul {
        list-style-type: none;
        padding-left: 5px;
        li {
            margin: 5px;
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}