.min_navbar,
.navbar {
    margin: 0 50px 0 20px;
    .toggle {
        right: -45px;
        bottom: 0;
        &:hover {
            color: core.$first-color;
        }
    }
}

.navbar {
    width: 22vw;
    ul {
        li {
            a {
                &:hover {
                    opacity: 0.7;
                }
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
        .active {
            a {
                color: core.$first-color;
                &::after {
                    background: core.$first-color;
                    transform: scaleX(1);
                }
                &:hover {
                    color: core.$first-color;
                }
            }
        }
    }
}
.min_navbar {
    width: 60px;
    ul {
        padding-left: 5px;
        text-align: center;
        li {
            margin-bottom: 15px;
            a {
                &:hover {
                    &::after {
                        content: attr(data-localization);
                        position: absolute;
                        font-size: 16px;
                        left: 47px;
                        width: 120px;
                        z-index: 10;
                        background-color: core.$second-color;
                        padding: 7px;
                        color: core.$third-color;
                        border-radius: 5px;
                    }
                }
            }
        }
        .active {
            a {
                &:hover {
                    &::after {
                        background-color: core.$first-color;
                    }
                }
                path {
                    color: core.$first-color;
                }
            }
        }
    }
}
