.min_navbar,
.navbar {
    background: core.$third-color;
    position: relative;
    border: 1px solid core.$border;
    border-radius: 3px;
    padding: 10px;
    margin: 0 50px 0 20px;
    .toggle {
        position: absolute;
        right: -45px;
        color: core.$second-color;
        font-size: 40px;
        bottom: 0;
        opacity: 1;
        cursor: pointer;
        &:hover {
            color: core.$first-color;
        }
    }
}

.navbar {
    width: 250px;
    ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        list-style-type: none;
        li {
            padding: 6px 0;
            a {
                position: relative;
                display: block;
                padding: 4px 0;
                color: core.$second-color;
                text-decoration: none;
                text-transform: uppercase;
                transition: 0.5s;

                &::after {
                    position: absolute;
                    content: "";
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    transform: scaleX(0);
                    background: core.$second-color;
                    transform-origin: right;
                    transition: transform 0.5s;
                }
                &:hover {
                    opacity: 0.7;
                }
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
        .active {
            a {
                color: core.$first-color;
                &::after {
                    background: core.$first-color;
                    transform: scaleX(1);
                }
                &:hover {
                    color: core.$first-color;
                }
            }
        }
    }
}
.min_navbar {
    width: 60px;
    ul {
        list-style-type: none;
        padding-left: 5px;
        padding: 0;
        text-align: center;
        font-size: 40px;
        color: core.$second-color;
        li {
            margin-bottom: 15px;
            a {
                color: core.$second-color;
                position: relative;
                &:hover {
                    &::after {
                        content: attr(data-localization);
                        position: absolute;
                        font-size: 16px;
                        left: 47px;
                        width: 120px;
                        z-index: 10;
                        background-color: core.$second-color;
                        padding: 7px;
                        color: core.$third-color;
                        border-radius: 5px;
                    }
                }
            }
        }
        .active {
            a {
                &:hover {
                    &::after {
                        background-color: core.$first-color;
                    }
                }
                path {
                    color: core.$first-color;
                }
            }
        }
    }
}
