.min_navbar,
.navbar {
    margin: 0 20px 60px;
    width: 100%;
    .toggle {
        bottom: -70px;
    }
}

.navbar {
    ul {
        .active {
            a {
                color: core.$first-color;
                &::after {
                    background: core.$first-color;
                    transform: scaleX(1);
                }
            }
        }
    }
}
.min_navbar {
    ul {
        justify-content: space-around;
        display: flex;
    }
}
